.character-pagination {
  padding-left: 20px;
  padding-right: 20px;
  .pagination-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: transparent;
      width: 30px;
      img {
        width: 100%;
      }
    }
  }
  .pagination-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    & > div {
      width: 15px;
      height: 15px;
      border-radius: 8px;
      background: #0096FF;
      opacity: 0.3;
      &.selected {
        opacity: 1;
        border: 1px solid black;
        outline: 3px solid rgba($color: #0096FF, $alpha: 0.3);
      }
    }
  }
}