.new-layout-item-details-card {
  * {
    font-weight: bold !important;
  }

  .item-details-header {
    color: white;
    background: #00AAFB;
    background-size: 100% 120%;
    background-position: center;
  }

  .item-details-stats {
    color: white;
    background: #2D5EA2;
    position: relative;
    background-size: 100% 100%;
    min-height: 295px;

    .item-details-stat {
      z-index: 21;
      font-weight: normal !important;

      * {
        font-weight: normal !important;
      }

      img {
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
      }
    }

    .item-details-image {
      position: absolute;
      top: 3rem;
      right: 1.5rem;
      width: 160px;
      height: auto;
      z-index: 20;
    }
  } 



  .item-details-description {
    color: #2D5EA2;
    background: #CFDEF0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .tier-img {
      width: 50px;
      height: auto;
    }

    .item-description {
      min-height: 80px;
    }

    .item-effect {
      min-height: 40px;
    }

    .item-reward-missions {
      max-height: 200px;
      overflow-y: auto;

      .item-reward-mission {
        margin: 0.25rem 0;
        
        .item-go-now-button {
          background: linear-gradient(180deg, #05B336 0%, #02631F 100%);
          border: 1px solid #04A833;
          color: white;
          border-radius: 5px;
          white-space: nowrap;
  
          img {
            width: 20px;
            height: auto;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .item-equippers {
      cursor: pointer;

      .item-equipper {
        position: relative;

        img {
          position: absolute;
          left: 0;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          z-index: 21;
        }

        .item-equipper-name {
          background: #00AAFB6B;
          color: white;
          z-index: 20;
          margin-left: 30px;
          padding: 10px 10px 10px 30px;
          font-weight: normal !important;
        }
      }
    }
  } 
  
}

@media only screen and (max-width: 1450px) {
  .item-reward-mission {
    flex-wrap: wrap;
  }

  .item-go-now-button {
    width: 100%;
  }
}