.menu-button {
  border-width: 0px;
  background-color: #00000000!important;
  background-image: url('/public/images/menu-button-active.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem;
}

.menu-button.inactive {
  background-image: url('/public/images/menu-button-inactive.png');
}