.menu-box-button {
  color: #008AFF;
  border-radius: 0px;
  background-color: rgba(91, 108, 153, 0.1)!important;
  padding: 0;
  flex-direction: column;
  position: relative;
}

.menu-box-button:hover, .menu-box-button.active {
  color: #FFFFFF;
  border: 1px solid #FFFFFF!important;
} 

.menu-box-button-children-container {
  padding: 0.5rem 0rem;
  background-color: #0080ff9a;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
}

.menu-box-button-image {
  background-image: url('/public/images/menu-box-button.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 100%;
  aspect-ratio: 1;
}

.menu-box-button-image > div:first-child img {
  width: 75%;
}