.character-forge {
  &-container {
  }
  &-title {
    font-size: 24px;
    padding: 0rem 1rem;
    margin-bottom: 10px;
  }
  &-tab-btns {
    background: rgba($color: #007eff, $alpha: 0.15);
    height: 50px;
    button {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      height: 100%;
      color: white;
      border: none;
      outline: none;
      background: transparent;
      &:hover {
        background-color: #0096ff;
      }
      &.active {
        background-color: #0096ff;
      }
      @media (max-width: 1600px) {
        font-size: 15px;
      }
      @media (max-width: 1460px) {
        font-size: 12px;
      }
    }
  }
}
